<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <a href="/insert">
        <button>Comment here!</button>
    </a>
    <br>
    <a href="/search">
        <button>Search Game here!</button>
    </a>
    <br>
    <a href="/update">
        <button>Update your info here!</button>
    </a>
    <br>
    <a href="/delete">
        <button>Delete your Comment here!</button>
    </a>
    <br>
    <a href="/advancedSQL1">
        <button>Advanced SQL 1 here!</button>
    </a>
    <br>
    <a href="/advancedSQL2">
        <button>Advanced SQL 2 here!</button>
    </a>

</body>
</html>