<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <a href="/">
        <button>Home</button>
    </a>
<center>
    <h1>High-impact Reviews</h1>
    <hr>
    <table border="1px" width="600px">
        <tr style="text-align:center">
            <th>PostID</th>
            <th>Rating</th>
            <th>Comment</th>
            <th>Username</th>
        </tr>
        {% for i in items %}
        <tr style="text-align:center">
            <td>{{ i.PostID  }}</td>
            <td>{{ i.Rating  }}</td>
            <td>{{ i.Comment  }}</td>
            <td>{{ i.Username   }}</td>
        </tr>
        {% endfor %}
    </table>
</center>

</body>
</html>
